.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
