.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url("./components/assets/images/background.jpg");
  background-size: cover; 
  background-position: center bottom;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
